<h1>Show Film</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @film.title %>
  </li>

  <li>
    <strong>Desc:</strong>
    <%= @film.desc %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.movie_film_path(@conn, :edit, @film) %></span>
<span><%= link "Back", to: Routes.movie_film_path(@conn, :index) %></span>
